<div class="main">
    <h2 class="hello-user">
        {{"Hello, " + username + "!"}}
    </h2>

    <div>
        <ul class="users">
            <b>Online:</b>
            <li ng-repeat="user in users">
                {{user}}
            </li>

        </ul>
        <div class="chatBody">
            <ul id="mainText">
                <li ng-repeat="mes in messages">
                    <b class='thisUser'>{{mes.user}}</b> : <span class="message">{{mes.message}}</span>
                </li>

                <li ng-repeat="im in images">
                    <b class='thisUser'>{{imUser}}</b> :
                    <a href="{{im}}">
                        <img class="image-formatting" src="({{im}})" no-repeat>
                            <!--<p><a class="btn btn-primary btn-lg" role="button">Узнать больше</a></p>
                            <a class="photo-link" href="{{im}}">{{im}}</a>-->

                    </a>
                </li>
            </ul>
        </div>

        <div class="inputMessageBlock">
            <div>
                <div class="messagePretextBlock">
                    <b>Enter message:</b>
                </div>
                <div class="row">
                    <div class="input-group col-xs-8 col-sm-8 col-md-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2">
                        <input type="text" class="form-control inputMessage" ng-model="mes" ng-keydown="addMessageByKey($event, mes)">
                        <span class="input-group-addon" id="send-message" ng-click="addMessage(mes)">Send</span>
                    </div>
                </div>
                <!--
                <input send class="inputMessage" type="text" size="40" ng-model="mes">
                <button ng-click="addMessage(mes)">Отправить</button>
                -->
                <div class="messagePretextBlock">
                    <b>Load photos:</b>
                </div>
                <form class="photos-block">
                    <div class="photos">
                        <input type="file" id="send-file" name="photo" multiple accept="image/*,image/jpeg"  ng-file-select="addImage($files)">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>