body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    background-image: url("images/81.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;

}

.main{
    height: 100%;
    width: 100%;
    position: absolute;
}
.chatBody{
    min-height: 400px;
    height: 65%;
    overflow-y: auto;
    margin-left: 2%;
    margin-bottom: 2%;
    display: inline-block;
}
.inputMessageBlock{

}
.inputMessage{
    width: 60%;
}
.messagePretextBlock{
    margin-left: 3%;
    margin-top: 1%;
    width: 15%;
    color:white;
    display: inline-block;
}
.page {
    height: 100%;
    position: absolute;
    width: 100%;
}
.login.page {
    background-color: #7CA6E4;
}
.login.page .form {
    height: 100px;
    margin-top: -100px;
    position: absolute;

    text-align: center;
    top: 50%;
    width: 100%;
}
.login.page .form .usernameInput {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    padding-bottom: 15px;
    text-align: center;
    width: 400px;
}
.login.page .title {
    font-size: 200%;
}
.login.page .usernameInput {
    font-size: 200%;
    letter-spacing: 3px;
}
.login.page .title, .login.page .usernameInput {
    color: #fff;
    font-weight: 100;
}
.unvisible{
    display: none;
}
.thisUser{
    color: #ed9c28;
    font-size: 130%;
}
.thatUser{
    color: #7CA6E4;
    font-size: 110%;
}
#mainText{
    color: white;
    list-style: none;
}
#VK-enter{
    font-size: 20px;
}
.vk-class{
    margin-top: 2%;
}
#inputFile{
    margin: 1% 0 0 18%;
    padding-left: 3px;
}
.photos{
    display: inline-block;
}
.photos-block{
    margin-left: 16%;
}
.hello-user{
    font-family: Trebuchet MS;
    color: white;
    text-align: center;
}
.login-position{
    font-family: Trebuchet MS;
    padding-top: 15%;
}
.sing-in-position{
    text-align: center;
    color: white;
}
.vk-button{
    margin: 0 auto;
}
.message{
    color: white;
}
.input-message{

}
#send-file{
    color: white;
    display: inline-block;
}
#send-message{
    background-color: #ed9c28;
    cursor: pointer;
    color: white;
}
.users{
    float: left;
    display: inline-block;
    width: 16%;
    height: 65%;
    color: white;
    padding: 1%;
}